<div class="jumbotron">
  <h1 class="display-4">Welcome to OpenHospital!</h1>
  <p class="lead">OpenHospital allows for patients management. <span id='user-warning'>PLEASE NOTE: ONLY AUTHROISED USERS ARE PERMITTED TO ACCESS THIS SOFTWARE.</span></p>
</div>
